.weatherDataBox {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 8rem;
}


.weatherIcon {
   
}

.description {
    font-size: 5rem;
}