.weatherBox {
    width: 40vw;
    height: 70vh;
    background-color: aqua;
    display: flex;
}

.weatherDataBox {
    flex: 4;
    background-color: red;
}

.weatherInputBox {
    flex: 3;
    background-color: brown;
} 