.weatherDetailBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5rem;
}

@media  screen and  (max-width: 62.5em)  { 
    .weatherDetailBox {
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
}

@media  screen and  (max-width: 35em)  { 
    .weatherDetailBox {
        grid-template-columns: 1fr;
        place-items: center;
    }
}



.description {
    font-size: 5rem;
}

@media  screen and  (max-width: 35em)  { 
    .description {
        font-size: 6rem;
    }
}

.span {
    font-size: 2.5rem;
}

.label {
    font-size: 1.3rem;
    text-transform: uppercase;
}